# Python caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.env

# OS / editor files
.DS_Store
Thumbs.db


# Project outputs
scraepr/
content_pipeline_outputs/
useful_research/
*.log
writing_agent_outputs/
scraepr_outputs/
data_catalog/
